

.restaurant-menu p {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 0.1px dotted rgb(129, 129, 129);
  margin-bottom: 20px;
}

.item-details {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 80%;
}

.item-details h4 {
  font-weight: 500;
}
.item-details p {
  font-size: 1rem;
  color: rgb(44, 44, 44);
  margin-bottom: 5px;
}

.item-extras{
   margin-top: 10px;
  display: flex;
  align-items: center;
}

.bestseller{
  color: #ee9c00;
  font-weight: 500;
  font-size: 14px;
}

.fa{

}
.fa-star{

}

.item-desc{
  font-size: 14px;
  width: 80%;
  color: #a7a2a2;
  font-weight: 300;
}
.item-img{
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-img img {
  width: 100%;
  border-radius: 10px;
}
.cart-action{

}