@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu_container{
    margin: 1vh 0vw;
    margin-bottom: 2vh;
}

.resmenu_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resmenu_top_right{
    display: flex;
    flex-direction: column;
}

.resmenu_top_left{
    border-radius: 10px;
    border: 1px solid grey;
    padding:0.6vh;
    height: fit-content;
}